.logo {
  color: white;
  font-size: 40px;
}

.form-control {
  border-radius: 3px;
  width: 600px;
  margin-left: 20px;
}

.search-icon {
  position: absolute;
  z-index: 10;
  right: 30%;
  top: 23px;
  color: grey;
}

.cart-icon {
  font-size: 30px;
  color: white;
}

.btn-primary {
  color: #007bff;
  background-color: white;
  border-color: #007bff;
}

/* header {
  position: fixed;
} */
