<!-- Material form login -->

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form
      class="example-form"
      #login_form="ngForm"
      (ngSubmit)="onButtonClick(login_form)"
    >
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Username"
            type="text"
            name="username"
            required
            ngModel
            #username="ngModel"
            maxlength="25"
            autocomplete="off"
          />
        </mat-form-field>

        <small
          *ngIf="
            !!username.errors && !!username.errors.required && username.touched
          "
          class="error-message"
        >
          Username is required
        </small>

        <!-- <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Email"
            type="text"
            name="email"
            ngModel
            #email="ngModel"
            required
            email="true"
            autocomplete="off"
          />
        </mat-form-field>

        <small
          *ngIf="!!email.errors && !!email.errors.email && email.touched"
          class="error-message"
        >
          Please enter valid Email
        </small> -->

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password"
            name="password"
            type="password"
            ngModel
            #password="ngModel"
            required
          />
        </mat-form-field>
        <small
          *ngIf="
            !!password.errors && !!password.errors.required && password.touched
          "
          class="error-message"
        >
          Password is required
        </small>
      </mat-card-content>

      <button
        mat-stroked-button
        color="accent"
        class="btn-block"
        type="submit"
        [disabled]="!!login_form.invalid"
      >
        Log in
      </button>

      <!-- {{ userPassword.untounched }} -->
      <a href="#">Forgot Password</a>
      <a routerLink="/signup">New User? Sign Up</a>
    </form>
  </mat-card>
</div>
