<div class="add-post-content">
  <div class="container">
    <div>
      <h3
        class="new-post-title"
        [formGroup]="addPostForm"
        (ngSubmit)="addPost()"
      >
        Create New Blog
        <span class="fl-r"> <a routerLink="/home">Back To Home</a></span>
      </h3>
    </div>
    <hr />
    <form [formGroup]="addPostForm" (ngSubmit)="addPost()">
      <div class="form-group">
        <label class="post-title">Title</label>
        <input
          type="text"
          [formControlName]="'title'"
          class="form-control"
          placeholder="Title"
          required
        />
      </div>

      <div class="form-group">
        <label class="post-tags">Tags</label>
        <input
          type="text"
          [formControlName]="'tag'"
          class="form-control"
          placeholder="Enter Tags(sperated by comma)"
          required
        />
      </div>

      <div class="form-group">
        <label class="post-content">Body</label>
        <editor
          [formControlName]="'body'"
          [init]="{ plugins: 'link' }"
        ></editor>
      </div>
      <div class="form-group">
        <button
          type="submit"
          [disabled]="!addPostForm.valid"
          class="btn btn-primary"
        >
          Post
        </button>
      </div>
    </form>
  </div>
</div>

<!-- [formControlName]="'body'"
          [init]="{ plugins: 'link' }" -->

<!--  -->

<!--  -->
