<form [formGroup]="form" class="user-form">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Legacy form field</mat-label>
      <input formControlName="name" matInput placeholder="Full Name" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Standard form field</mat-label>
      <input formControlName="email" matInput placeholder="Email" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input formControlName="password" matInput placeholder="Password" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input
        formControlName="confirmPassword"
        matInput
        placeholder="Confirm Password"
        type="password"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <mat-checkbox formControlName="isStaff">Is Staff ?</mat-checkbox>
    </mat-form-field>
  </p>
</form>
