/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-message {
  color: red;
  float: right;
  display: block;
}

.width-25 {
  width: 25%;
}

.width-12 {
  width: 12%;
}

.float-r {
  float: right;
}

.success {
  color: green;
}

.mr-13 {
  margin-left: 1.3rem;
}

.alert {
  color: red;
}

.capitalize {
  text-transform: capitalize;
}

.loading-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-content: center;
}

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
