<app-header></app-header>
<section class="right">
  <mat-form-field>
    <mat-select
      placeholder="Follow Users"
      [formControl]="following"
      [(value)]="selectedFollowing"
      multiple
    >
      <mat-option
        *ngFor="let user of userList | async"
        [value]="user.username"
        >{{ user.firstName + "  " + user.lastName }}</mat-option
      >
      <button class="btn btn-info" (click)="addFollowing()">Follow</button>
    </mat-select>
  </mat-form-field>
</section>

<section class="left">
  <mat-card *ngFor="let post of blogs | async">
    <mat-card-content routerLink="{{ post.blogId }}">
      <!-- <img mat-card-image src="{{ blog.image }}" alt="{{ post.title }}" /> -->
      <h2>{{ post.blogName }}</h2>
      <p>
        <small
          >Posted by <b> {{ post.firstName }} </b> &bull; on
          {{ post.createdAt | date: "fullDate" }}</small
        >
        <br />
        Tags :
        <small>
          <i>{{ !!post.tagsList ? post.tagsList : "NA" }} </i></small
        >
      </p>
    </mat-card-content>

    <mat-card-content>
      <p [innerHTML]="post.description" class="limitTextHeight"></p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-icon-button class="btn btn-danger">
        <mat-icon>delete</mat-icon>
      </button>

      &nbsp; &nbsp; &nbsp; &nbsp;
      <button mat-icon-button class="btn btn-primary" (click)="readMore(post)">
        <mat-icon>Read More</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
