<app-header></app-header>
<section>
  <mat-card *ngFor="let post of blogs | async">
    <mat-card-content routerLink="{{ post.blogId }}">
      <!-- <img mat-card-image src="{{ blog.image }}" alt="{{ post.title }}" /> -->
      <h2>{{ post.blogName }}</h2>
      <p>
        <small
          >Posted by <b> {{ post.firstName }} </b> &bull; on
          {{ post.published | date: "fullDate" }}</small
        >
      </p>
    </mat-card-content>

    <mat-card-content>
      <p [innerHTML]="post.description" class="limitTextHeight"></p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-icon-button class="btn btn-primary" (click)="readMore(post)">
        <mat-icon>Read More</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-actions align="end">
      <button mat-icon-button class="btn btn-danger">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
